<plugin>
	<nom>Favicon</nom>
	<prefix>favicon</prefix>
	<icon>icon/favicon.png</icon>

	<version>1.1.2</version>
	<etat>stable</etat>
	<categorie>multimedia</categorie>

	<slogan><multi>[fr]Favicon et touch icon du site[en]Favicon and touch icon[es]Favicon y touch icon del sitio[de]Favicon und Touch-Symbol der Website</multi></slogan>
	<description>
	Génération automatique, à partir de votre logo de site SPIP, de favicon et touch icon pour les différents navigateurs et terminaux.
	</description>
	<auteur>[tetue->http://spip.tetue.net]</auteur>
	<lien>https://contrib.spip.net/4740</lien>

	<pipeline>
		<nom>insert_head</nom>
		<inclure>favicon_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[2.1.0;3.2.99]" />
</plugin>